# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db


.jekyll-metadata
_posts/2020-10-13-interdimensional_internet.md
myNote.md
TODO.md
Workbench/
_posts/2020-01-15-romantico.md
Gemfile.lock
